<a href="{{ pseudo }}/{{ message.id }}">
  <div class="box">
    <p class="content">{{ message.content }}</p>
    <p class="has-text-grey-light is-size-7">Posté le {{ message.created_at + ""}}
  </div>
</a>